.ct-icon-boxes .ct-icon-box {
    padding-top: 8px;
}
.ct-icon-boxes .ct-icon-box {
    width: 50%;
    float: left;
    min-height: 1px;
    position: relative;
    border: 2px solid #ccc;
    min-height: 267px;
    display: inline-table;
    text-align: center;
    color: #292929;
    margin-bottom: -2px;
    padding-top: 36px;
}
.ct-icon-box {
    cursor: pointer;
}

.ct-icon-box:hover {
    background: #fd4f00;
    color: #fff;
}

.ct-icon-boxes {
    margin-top: 65px;
    max-width: 525px;
}

.ct-icon-boxes .ct-icon-box__header {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}
section h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.ct-icon-boxes .ct-icon-box.bottom-all {
    width: 99.5%;
    min-height: 250px;
}

@media only screen and (min-width: 480px) {
.ct-icon-boxes .ct-icon-box.top-right, .ct-icon-boxes .ct-icon-box.bottom-right {
    margin-left: -2px;
}
}